.splitscreen-container {
    padding: 10px;
    min-height: 77vh;
    display: flex;
    flex-direction: row;
}


@media (max-width: 798px) {
    .splitscreen-container {
        min-height: 100%;

        flex-direction: column;
    }
}